*{
    font-family: Helvetica;
}

html,body{

    background-color: rgb(31, 31, 31);
    color: white;
    padding: 20px;
    height: auto;

}

#root{
    height: auto;
}


#container-1{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

#container-1 input#search{
    width: 96%;
    height: 50px;
    background: rgb(32,32,36);
    border: none;
    font-size: 15pt;
    float: left;
    color: #637569;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }


.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    height: 800px;
    

    
}

.card{
    align-content: center;
    border: 1px solid white;
    border-radius: 6px;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    width: 20%;
    
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 198px;
    min-height: 198px;
    width: 100%;
}




@media (max-width:960px){ 
    .card{
        width: 20%;
        margin-right: 20px;
        
    }
}



@media (max-width:518px){ 

    .card-grid{
        display: block;
        height: 3400px;
        width: 80%;
    
        
    }

    .card{
        align-content: center;
        border: 1px solid white;
        border-radius: 6px;
        flex-grow: 1;
        margin-bottom: 10px;
        margin-right: 10px;
        overflow: hidden;
        width: 100%;
        margin-left: 30px;
        
    }
    #container-1{
        width: 90%;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
      }

}